body {
    background-image: url("../Img/cloud.png");
    background-size: contain;
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-color: #4B4A4A;
}

header{
    background-image: url("../Img/sfondo.png");
    background-size: cover;
    background-position: center;
    height: 100vh ;
}

main {
    margin-top: 67px;
}

footer{
    margin-top: 160px;
    margin-bottom: 5px;
    display: flex;
    color: #909090;
}

footer p{
    margin-left: 50px;
    margin-bottom: 0px;

}

#Scroll img{
    width: 40px;
}

#Scroll{
    display: flex;
    align-items: center;
    justify-content: center;
}

#PosizioneS{
    display: flex;
    align-items: center;
    height: 70vh;
}
#scrittaSfondo{
    display: flex;
    align-items: baseline;
    margin-left: 10%;
    width: 100%;
}

#scrittaSfondo h1{
    color: #86DC8D;
    font-size: 100px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

#scrittaSfondo p{
    color: #86DC8D;
    font-size: 40px;
    margin-left: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

#smileContainer img {
    height: 100px;
    font-family: 'Lato', sans-serif;
}

#AQIbox {
    margin-top: 60px;
    background-color: rgba(0,0,0,0.3);
    color: white;
    width: 370px;
    border-radius: 20px;
    font-family: 'Lato', sans-serif;
}

#AQIbox div{
    margin-left: 30px;
}

#hand{
    padding-top: 20px;
    color: #909090 !important;
    font-family: 'Lato', sans-serif;
}

#GraphicBox{
    display: flex;
   align-items: center;
   justify-content: center;
}

#SmileBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 30px;
}

.bg-light{
    background-color: rgba(0,0,0,0) !important;
  
}

#van{
    font-size: 100px;
    font-family: 'Lato', sans-serif;
}

.navbar-brand{
    color: #c0c0c0 !important;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}


#select{
    background-color: rgba(0,0,0,0.3) ;
    color: white;
    border-color: rgba(0,0,0,0) ;
    border-radius: 5px;

}

#ac_path_3{
    fill:  rgba(0,0,0,0);
}


#GraphicBox{
    height: 400px;
}

.loader {
    border: 10px solid  #86DC8D;
    border-top: 10px solid #c0c0c0; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin-top: 10px;
    margin-right: 5px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


@media (max-width: 995px) {
    
    .col{
        flex-basis: inherit !important; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #GraphicBox{
        margin-top: 50px;
    }
   
  }

  @media(max-width:540px){
    
    #scrittaSfondo{
        display: flex;
        flex-direction: column; 
    }

    #scrittaSfondo p{
      margin: 0px;
    }
  }

  @media (max-width: 390px) {
    
    #AQIbox {
        width: 100%;      
    }

    #AQIbox  div {
        margin: 0px;     
    }

    #hand{
        margin-left: 15px;
    }
   
    #SmileBox{
    flex-direction: column;
    margin: 0px;
   }
  }